@import "_bootstrap.scss";

$accent: #3498db;

.navbar{
    border-radius: 0px;
    border-top: 5px solid $accent;
    margin-bottom: 0px;

    .navbar-nav>.active>a{
        background-color: $accent !important;
    }
    .navbar-nav>li>a{
        padding: 15px 30px 15px 30px;
    }
}

.splash{
    .navbar{
        background: transparent;
        border-top: 0px;
        // float: left;
        border-color: rgba(0, 0, 0, 0.2);
        .navbar-brand{
            color: rgba(255, 255, 255, 0.4) !important;
        }
    }
    .navbar-inverse .navbar-nav > li > a, .navbar-text {
      color: rgba(255, 255, 255, 0.3) !important;
    }
    .navbar-inverse .navbar-nav > li > a:hover{
       color: rgba(255, 255, 255, 1) !important; 
    }
    .navbar.transparent.navbar-inverse .navbar-inner {
        background: rgba(0,0,0,0.4);
    }
    .navbar-nav>.active>a{
        background-color: transparent !important;
        color: rgba(0, 0, 0, 1) !important;
    }
    #first{
        background: url('https://unsplash.it/2500/1080?image=654&gravity=south') no-repeat center center fixed; 
    }
    #second{
        background: url('https://unsplash.it/2500/1080?image=446&gravity=south') no-repeat center center fixed; 

    }
    .landing{
        -webkit-background-size: cover;
           -moz-background-size: cover;
             -o-background-size: cover;
                background-size: cover;
        height: 100vh;
        h1, h2, h3{
            margin: 0px 0px 0px 0px !important;
            color: white !important;
            text-align: center;
        }
        h1{
            position: relative;
            top: 49%;
            transform: translateY(-49%);
            font-size: 52px;
        }
        h2{
            position: relative;
            top: 51%;
            transform: translateY(-51%);
        }
        h3{
            @extend .center;
            color: white;
            display: block;
            position: relative;
            top: 75%;
            transform: translateY(-75%);
        }
    }
}

.page-leader{
    padding-top: 5em;
    background-color: rgba(0,0,0,0.05);
    h1{
        @extend .container;
    }
}

.content-lead{
    border-bottom: 5px solid $accent;
}

.announcement{
    @extend .container-fluid;
    img{
        z-index: 1;
    }
    .panel{
        z-index: 10;
        // display: inline-block;
        .announcement-body{
            padding: 15px 10px 15px 10px;
            h4{
                display: inline;
            }
        }
    }
}

.twitter-feed{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    
    .bubble {
      width: 100%;
      padding: .5em 1em;
      line-height: 1.4em;
      padding: 20px;
      background-color: #ecf0f1;
      position: relative;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
      border-radius: 8px;
      text-align: left;
      display: inline-block; }

    .bubble-container {
      width: 75%;
      display: block;
      position: relative;
      padding-left: 20px;
      vertical-align: top;
      display: inline-block; }
    
    .arrow {
      content: '';
      display: block;
      position: absolute;
      left: 12px;
      bottom: 25%;
      height: 0;
      width: 0;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
      border-right: 20px solid #ecf0f1; }
    
    .timeline {
      width: 560px;
      display: block;
      margin: auto;
      background-color: #dde1e2;
      padding-bottom: 2em;
      -webkit-box-shadow: #bdc3c7 0 5px 5px;
      -moz-box-shadow: #bdc3c7 0 5px 5px;
      box-shadow: #bdc3c7 0 5px 5px;
      -moz-border-radius-bottomleft: 8px;
      -webkit-border-bottom-left-radius: 8px;
      border-bottom-left-radius: 8px;
      -moz-border-radius-bottomright: 8px;
      -webkit-border-bottom-right-radius: 8px;
      border-bottom-right-radius: 8px;
      list-style-type: none;
      margin-bottom: 2em; }
      .timeline li {
        padding: 1em 0; }
      .timeline li:nth-child(even) {
        background-color: #d3d7d8; }
    
    .avatar {
      width: 18%;
      display: inline-block;
      vertical-align: top;
      position: relative;
      overflow: hidden;
      margin-left: 2%; }
      .avatar img {
        width: 100%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
        border: 5px solid #ecf0f1;
        position: relative; }
    
    .hover {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #3498db;
      top: 0;
      font-size: 1.8em;
      border: 5px solid #5cc0ff;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%;
      text-align: center;
      color: white;
      padding-top: 24%;
      opacity: 0;
      font-family: 'FontAwesome';
      font-weight: 300;
      -webkit-transition-property: all;
      -moz-transition-property: all;
      -o-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.5s;
      -moz-transition-duration: 0.5s;
      -o-transition-duration: 0.5s;
      transition-duration: 0.5s;
      -webkit-transition-timing-function: ease;
      -moz-transition-timing-function: ease;
      -o-transition-timing-function: ease;
      transition-timing-function: ease; }
    
    .first {
      width: 560px;
      display: block;
      margin: auto;
      background-color: #3498db;
      text-shadow: #2084c7 1px 1px 0;
      padding: 1em 0 !important;
      color: white;
      text-align: center;
      margin-top: 1em;
      font-family: "Lato";
      font-size: 1.6em;
      -moz-border-radius-topleft: 8px;
      -webkit-border-top-left-radius: 8px;
      border-top-left-radius: 8px;
      -moz-border-radius-topright: 8px;
      -webkit-border-top-right-radius: 8px;
      border-top-right-radius: 8px;
      position: relative; }
    
    .icon-twitter {
      font-size: 1.5em; }
    
    .new {
      position: absolute;
      right: 5%; }
    
    .over-bubble {
      line-height: 1.4em;
      padding-top: 10%;
      background-color: rgba(236, 240, 241, 0.8);
      position: relative;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
      border-radius: 8px;
      text-align: center;
      display: inline-block;
      position: absolute !important;
      height: 100%;
      width: 100%;
      opacity: 0;
      top: 0;
      left: 0;
      z-index: 999;
      -webkit-transition-property: all;
      -moz-transition-property: all;
      -o-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-timing-function: ease-in;
      -moz-transition-timing-function: ease-in;
      -o-transition-timing-function: ease-in;
      transition-timing-function: ease-in;
      font-size: 2.8em;
      text-shadow: white 1px 1px 0; }
    
    .action {
      margin-right: .3em;
      -webkit-transition-property: all;
      -moz-transition-property: all;
      -o-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.2s;
      -moz-transition-duration: 0.2s;
      -o-transition-duration: 0.2s;
      transition-duration: 0.2s;
      -webkit-transition-timing-function: ease-in;
      -moz-transition-timing-function: ease-in;
      -o-transition-timing-function: ease-in;
      transition-timing-function: ease-in; }
    
    h3 {
      font-size: 1.2em;
      font-weight: bold;
      font-family: 'Lato';
      display: inline-block;
      margin-bottom: .2em;
      margin-top: 0px;
      color: #95a5a6;
    }
    h3.action{
        color: black;
        display: block;
    }
    
}

.center{
    text-align: center;
}

img.panel-avatar{
    position: absolute;
    left: -5%;
}

.vote-tabs{
    li{
        width: 20%;
        text-align: center;
    };
}

ul.staff-list{
    li{
        display: inline;
    }
    list-style-type: none;
    padding-left: 0px;
}